<div class="row">
    <div  class="platform-stream card medium col s4 m4 l2" *ngFor="let channel of platformChannels | searchFilter: searchWord">
        <!-- <h4>{{channel.snippet.title}}</h4> -->
        <div (click)="goToChannelsPage(channel.id)">
            <div class="card-image">
                <img src="{{getBackgroundImage(channel)}}" alt="">
                <span class="card-title">{{channel.snippet.title}}</span>
            </div>
        </div>
        <div class="card-content">
            <p>{{channel.snippet.description}}</p>
        </div>
        <div class="card-action">
            <a *ngIf="channel.isLiveStreaming" href="https://www.youtube.com/watch?v={{channel.livestream.id.videoId}}" target="_blank">
                    Go Listen
                    <span *ngIf="channel.isLiveStreaming" class="live-streaming">LIVE!</span>
                </a>
            <a *ngIf="!channel.isLiveStreaming" href="https://www.youtube.com/channel/{{channel.id}}/videos" target="_blank">
                    Backlog
                </a>

            <span *ngIf="channel.isLiveStreaming" class="live-stream-published-date">since {{channel.livestream.snippet.publishedAt | date}}</span>
        </div>

    </div>
</div>