.platform-stream.mdl-card {
    width: 320px;
    height: 350px;
}

.mdl-card__title-text {
    min-height: 10%;
}

.mdl-card__supporting-text {
    min-height: 32%;
}

.mdl-card__title {
    color: white;
    background-repeat: round;
    min-height: 100px;
    max-height: 100px;
}

.live-streaming {
    color: red;
    /* position: relative;
    left: 80px;
    top: 10px */
}

.live-stream-published-date {
    font-size: x-small;
    position: relative;
    left: 80px;
    top: 10px;
}