<div class="mdl-grid">
    <div *ngFor="let channel of platformChannels" class="platform-stream mdl-card mdl-shadow--2dp mdl-cell mdl-cell--4-col">
        <div class="mdl-card__title mdl-card--expand" [style.background-image]="'url(' + getBackgroundImage(channel)  + ')'">
        </div>
        <h2 class="mdl-card__title-text">{{channel.title}}</h2>
        <div class="mdl-card__supporting-text">
            {{channel.description}}
        </div>
        <div class="mdl-card__actions mdl-card--border">
            <a *ngIf="channel.isLiveStreaming" href="https://www.youtube.com/watch?v={{channel.liveStreamVideoId}}" target="_blank" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
                Go Listen
            </a>
            <a *ngIf="!channel.isLiveStreaming" href="https://www.youtube.com/channel/{{channel.channelId}}/videos" target="_blank" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
                Backlog
            </a>
            <span *ngIf="channel.isLiveStreaming" class="live-streaming">LIVE!</span>
            <span *ngIf="channel.isLiveStreaming">since {{channel.publishedAt | date}}</span>
        </div>
        <div class="mdl-card__menu">
            <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
                <i class="material-icons">share</i>
            </button>
        </div>
    </div>

</div>