.platform-stream.mdl-card {
    max-width: 295px;
    max-height: 350px;
    margin-bottom: 20px;
    margin-left: 20px;
    padding: 0 !important;
}


.live-streaming {
    color: red;
    /* position: relative;
    left: 80px;
    top: 10px */
}

.live-stream-published-date {
    font-size: x-small;
    position: absolute;
    right: 5px;
    bottom: 0px;
}